{% extends "base.html" %}
{% block content %}

    <div id="products">
        {% for product in packet.products %}
            <div class="productpageblock hublueborder">
                <a href="/productdetail/{{ product.product_id }}">
                    <div class="productname">{{ product.name }}</div>
                    {% if product.price is not none %}
                        <div class="productprice">{{ product.price/100 }}</div>
                    {% endif %}
                    {% if product.discount is not none %}
                        <div class="productdiscount hublue">{{ product.discount/100 }}</div>
                    {% endif %}
                </a>
                <a href="#" function="add-to-shopping-cart" class="productpage-addtocart button hured"
                   productid="{{ product.product_id }}">In winkelmand</a>
            </div>
        {% endfor %}
    </div>
    <div id="productnavigation" class="hublueborder">
        {% if packet.prevpage %}
            <a href="{{ packet.prevpage }}">&lt;</a>&nbsp;|&nbsp;
        {% endif %}
        {{ packet.pstart }} - {{ packet.pend }} van {{ packet.productcount }}
        <select id="pagination-select">
            {% for p in packet.paginationcounts %}
                <option value="{{ p }}" {{ "selected=\"selected\"" if p == packet.items_per_page else "" }}>{{ p if p != 0 else "Alle" }}</option>
            {% endfor %}
        </select>
        {% if packet.nextpage %}
            &nbsp;|&nbsp;<a href="{{ packet.nextpage }}">&gt;</a>
        {% endif %}
    </div>
{% endblock %}

