{% extends "base.html" %}
{% block content %}
    {% if packet.itemsincart %}
        <div id="products">
            {% for product in packet.itemsincart %}
                <div class="productpageblock hublueborder">
                    <a href="/productdetail/{{ product.id }}">
                        <div class="productname">{{ product.name }}</div>
                        {% if product.price is not none %}
                            <div class="productprice">{{ product.price }}</div>
                        {% endif %}
                        {% if product.discount is not none %}
                            <div class="productdiscount">{{ product.discount }}</div>
                        {% endif %}
                        <div class="productitemcount">{{ product.itemcount }} x</div>
                    </a>
                </div>
            {% endfor %}
        </div>
        </div>
    {% else %}
        U heeft nog geen artikelen in uw winkelwagentje!
    {% endif %}
{% endblock %}